.amira-img
{
	text-align:center;	
}

img
{
	border-radius:20%;
	width:350px;
	opacity:1;
}
h1
{
	background-color:#5CDA39;
	color:#818181;
}

body{background-color:#818181;}

p 
{
	color:#5CDA39;
	font-size:40px;
	font-family:"Arial";
}
li
{
	font-size:30px;
	color:#5CDA39;
}
ul {list-style-type:disk;}
